export JAVA_OPTS="-Dtds.content.root.path={{ tomcat_directory }}/{{ tomcat_version }}/content" 
export CATALINA_HOME={{ tomcat_directory }}/{{ tomcat_version }}
export JAVA_HOME={{ java_directory }}/{{ jdk_version }}

